:root
{
    --standard-border: solid 2px black;
}

html, body
{
    height: 100%;
}

#mainApp
{
    height: 100%;

    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

#currentView
{
    overflow-y: scroll;
}

#headerNav
{
    padding: 15px;

    display: grid;
    grid-template-columns: min-content 1fr;

    font-family: serif;
    font-size: x-large;

    background-color: #92d36e;

    border-bottom: var(--standard-border);
}

#headerNavLeftGroup
{
    justify-self: left;
}

#headerNavRightGroup
{
    justify-self: right;

    display: flex;
}

#headerNavRightGroup > *:not(:last-child)
{
    margin-right: 15px;
}

#headerNavSearchInput
{
    width: unset;
    display: inline;

    border: solid 1px #629c44;
    color: #629c44;
}

#logoWrapper
{
    height: 200px;

    background: url("/static/images/money-overlapping.jpg") fixed center top;

    background-size: cover;

    border-bottom: var(--standard-border);
}

#footer
{
    border-top: var(--standard-border);

    background-color: white;

    padding: 5px 15px;
}

#topSellersHeader
{
    text-align: center;

    font-family: serif
}

.headerAnchor
{
    color: white;

    cursor: pointer;
}

.headerAnchor:hover
{
    color: #629c44;
    text-decoration: none;
}

.headerAnchor:focus
{
    text-decoration: none;
}

.headerAnchor.router-link-exact-active
{
    color: #0d4507 !important;
}

#basicItemDisplayRows
{
    display: grid;

    grid-row-gap: 5px;

    margin: 0 10px;
}

.basicItemDisplay
{
    padding: 10px;

    display: grid;

    grid-column-gap: 10px;
    grid-row-gap: 5px;

    grid-template-columns: min-content 1fr;
    grid-template-rows: max-content 1fr min-content;

    height: 200px;
}

.basicItemDisplayImage
{
    width: 180px;
    height: 180px;

    grid-row: 1 / 4;
}

.basicItemDisplayName
{
    grid-row: 1;

    margin-top: 0;
    margin-bottom: 0;
}

.basicItemDisplayDescription
{
    grid-row: 2;

    padding: 5px 0;

    overflow: hidden;

    position: relative;
}

.basicItemDisplayDescription:after
{
    content: "";
    height: 25px;
    width: 100%;

    position: absolute;
    top: calc(100% - 25px);
    left: 0;

    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 15%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 15%, rgba(255,255,255,1) 100%);
}

.shoppingCartChanger
{
    grid-row: 3;
}

.shoppingCartQuantity
{
    display: inline;

    width: 80px;
}
