<!DOCTYPE html>
<html lang="en">
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css?v=18">

	<!-- JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/static/js/main.js?v=1"></script>

	<title>Home - BuyStuff.com</title>
</head>
<body>
<div id="mainApp">
	<div id="headerNav">
		<div id="headerNavLeftGroup">
			<router-link class="headerAnchor dontUnderline" to="/">BuyStuff.com</router-link>
		</div>
		<div id="headerNavRightGroup">
			<router-link v-if="!loggedIn" class="headerAnchor dontUnderline" to="/productdetails">Log In</router-link>
			<router-link v-else class="headerAnchor dontUnderline" to="/hey">Log Out</router-link>

			<router-link class="headerAnchor dontUnderline" to="/productdetails">Account</router-link>
			<router-link class="headerAnchor dontUnderline" to="/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span></router-link>
			<router-link class="headerAnchor dontUnderline" to="/shoppingcart">
				<span id="cartSummary">[[ $root.getShoppingCartTotalItems() ]]: $[[ $root.getShoppingCartSubtotal().toFixed(2) ]]</span>
			</router-link>

			<input id="headerNavSearchInput" type="text" class="form-control" placeholder="search">
	</div>
	</div>
	<router-view id="currentView"></router-view>
	<div id="footer">
		&copy; Copyright 2018 John Carrell.
	</div>
</div>
</body>
<template id="homeView">
	<div>
		<div id="logoWrapper"></div>
		<div id="topSellersWrapper">

			<h1 id="topSellersHeader">Top Sellers</h1>

			<div id="basicItemDisplayRows">
				<div v-for="topSeller in topSellers">
					<basic-item :item="topSeller"
								:allow_shopping_cart_update="true"
								name="Hey"></basic-item>
				</div>
			</div>
		</div>
	</div>
</template>
<template id="productDetailsView">
	<div>
		<div>PRODUCT</div>
	</div>
</template>
<!--<template id="shoppingCartView"></template>-->
<!--<template id="checkoutView"></template>-->

<template id="basicItemDisplayComponent">
	<div class="basicItemDisplay">
		<img class="basicItemDisplayImage" :src="item.imageUrl">

		<h3 class="basicItemDisplayName">[[ item.name ]]</h3>

		<p class="basicItemDisplayDescription">[[ item.description ]]</p>

		<div class="shoppingCartItemPriceWrapper">
			<div v-if="allow_shopping_cart_update" class="shoppingCartChanger">
				<button class="btn" @click="removeOneFromCart"><span class="glyphicon glyphicon-minus"></span></button>
				<input type="number"
					   class="shoppingCartQuantity form-control"

					   @input="updateShoppingCart"

					   v-model="itemQuantity"
				>
				<button class="btn" @click="addOneToCart"><span class="glyphicon glyphicon-plus"></span></button>
			</div>

			<span class="itemPriceDisplay">$[[ (item.price).toFixed(2) ]]</span>
		</div>
	</div>
</template>
</html>